<style>
  #map {
      width: 900px;
      height: 900px;
      border: 1px solid red;
  }
</style>

<script>
  $(document).ready(function () {
      var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
          mapOption = {
              center: new kakao.maps.LatLng(36.7989764, 127.0750025), // 지도의 중심좌표
              level: 5 // 지도의 확대 레벨
          };

      // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
      var map = new kakao.maps.Map(mapContainer, mapOption);

      var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

      // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
      var mapTypeControl = new kakao.maps.MapTypeControl();

      // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
      // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
      map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);
      var zoomControl = new kakao.maps.ZoomControl();
      map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);


      var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
      var positions = [
          {
              title: '카카오1',
              latlng: new kakao.maps.LatLng(36.781, 127.0710025),
              content: '<div style="padding:5px;">메이플<br><a href="/html/html1">Go</div>'
          },
          {
              title: '생태연못2',
              latlng: new kakao.maps.LatLng(36.772, 127.0720025),
              content: '<div style="padding:5px;">롤<br><a href="/html/html2">Go</div>'
          },
          {
              title: '텃밭3',
              latlng: new kakao.maps.LatLng(36.763, 127.0730025),
              content: '<div style="padding:5px;">테런<br><a href="/html/html3">Go</div>'
          },
          {
              title: '근린공원4',
              latlng: new kakao.maps.LatLng(36.751, 127.0740025),
              content: '<div style="padding:5px;">오버워치<br><a href="/html/html1">Go</div>'
          }
      ];

      // 마커 이미지의 이미지 주소입니다
      var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

      for (var i = 0; i < positions.length; i++) {

          // 마커 이미지의 이미지 크기 입니다
          var imageSize = new kakao.maps.Size(20, 30);

          // 마커 이미지를 생성합니다    
          var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

          // 마커를 생성합니다
          var marker = new kakao.maps.Marker({
              map: map, // 마커를 표시할 지도
              position: positions[i].latlng, // 마커를 표시할 위치
              title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
              image: markerImage // 마커 이미지 
          });
          var infowindow = new kakao.maps.InfoWindow({
              position: positions[i].latlng,
              content: positions[i].content
          });

          // 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
          infowindow.open(map, marker);

      }
  });
</script>


<div class="container" style="margin-top:30px">
  <div class="row">
      <div class="col-sm-12">
          <h2>geo Center</h2>
          <div class="col-sm-3">
              <ul class="nav nav-pills flex-column">
                  <li class="nav-item">
                      <a class="nav-link" href="/geo/geo1">geo1</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/geo/geo2">geo2</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/geo/geo3">geo3</a>
                  </li>
              </ul>
          </div>
          <div class="col-sm-9">
              <h2>About us</h2>
              <div id="map"></div>
          </div>
      </div>
  </div>
</div>