<div class="container" style="margin-top:30px">
  <div class="row">
      <div class="col-sm-3">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/chart/chart1">chart1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/chart/chart2">chart2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/chart/chart3">chart3</a>
            </li>
          </ul>
      </div>
      <div class="col-sm-9">
          <h2>CHART CENTER 이것은 차트 폴더의 차트html</h2>
          
      </div>
  </div>
</div>



